rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /usuario/{userId} {
      allow read, write: if true; // Temporalmente para pruebas
    }
  }
} 